@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.container
{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.container#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
.backgroundanim#particles-js.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}
.container .content{
    pointer-events: relative;
    max-width: 800px;
    background: black;
    border-radius: 20px;
    min-width: 800px;
    min-height: 700px;
}
h2{
    font-weight: 600;
    color:white;
}
a{
    position: relative;
    padding: 5px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    background: #111;
}
#popup{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background: #fff;
}
#popup.notactive{
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}
.tarea{
    background-color: white;
    color: black;
    margin-top: 25px;
    padding:20px 20px 20px 20px;
    align-items: center;
    max-width: 600px;
    min-width: 600px;   
    margin-left: 100px;
    min-height: 100px;
    border-radius: 20px;
}
.buscador{
    background-color: white;
    color: black;
    padding:20px 20px 40px 20px;
    align-items: center;
    max-width: 600px;
    min-width: 100px;   
    margin-left: 100px;
    min-height: 50px;
    border-radius: 20px;
}

input{
    border-style: hidden;
}

textarea:focus, input:focus{
    outline: none;
}

.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton2 {
	background-color:firebrick;
	border-radius:28px;
	border:1px solid red;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.myButton2:active {
	position:relative;
	top:1px;
}